# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo

# =========================
# Build folders
# =========================
bin/
obj/
out/

# =========================
# Node
# =========================
node_modules/

# =========================
# Logs
# =========================
*.log

# =========================
# IntelliJ
# =========================
.idea/
*.iml

# =========================
# Maven
# =========================
target/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Env
# =========================
.env